# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/backend/venv
/backend/env
/backend/__pycache__
/backend/*.pyc

# testing
/frontend/coverage
/backend/.pytest_cache

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build
/backend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
/frontend/.env.local
/frontend/.env
/backend/.env
/backend/.env.local

# database
*.db
*.sqlite
*.sqlite3
/backend/subwise.db
